body {
    background: linear-gradient(125deg, hsla(212, 100%, 97%, 0.678), hsla(211, 88%, 78%, 0.701), hsla(212, 100%, 97%, 0.678), hsla(211, 88%, 78%, 0.701));
    background-size: 500%;
    animation: bgAnimation 7.5s linear infinite;
    margin: 0;
    padding: 0;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}